---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1589397058'
      Etag:
      - W/"6ef5c6441a849faf85fd3cd5c9318cda"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":253588113,"node_id":"MDEwOlJlcG9zaXRvcnkyNTM1ODgxMTM=","name":"monster_shop_2001","full_name":"tony-gomes/monster_shop_2001","private":false,"owner":{"login":"tony-gomes","id":50756871,"node_id":"MDQ6VXNlcjUwNzU2ODcx","avatar_url":"https://avatars2.githubusercontent.com/u/50756871?v=4","gravatar_id":"","url":"https://api.github.com/users/tony-gomes","html_url":"https://github.com/tony-gomes","followers_url":"https://api.github.com/users/tony-gomes/followers","following_url":"https://api.github.com/users/tony-gomes/following{/other_user}","gists_url":"https://api.github.com/users/tony-gomes/gists{/gist_id}","starred_url":"https://api.github.com/users/tony-gomes/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tony-gomes/subscriptions","organizations_url":"https://api.github.com/users/tony-gomes/orgs","repos_url":"https://api.github.com/users/tony-gomes/repos","events_url":"https://api.github.com/users/tony-gomes/events{/privacy}","received_events_url":"https://api.github.com/users/tony-gomes/received_events","type":"User","site_admin":false},"html_url":"https://github.com/tony-gomes/monster_shop_2001","description":"Meta
        Monster Shop","fork":true,"url":"https://api.github.com/repos/tony-gomes/monster_shop_2001","forks_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/forks","keys_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/keys{/key_id}","collaborators_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/teams","hooks_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/hooks","issue_events_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/issues/events{/number}","events_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/events","assignees_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/assignees{/user}","branches_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/branches{/branch}","tags_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/tags","blobs_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/git/refs{/sha}","trees_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/git/trees{/sha}","statuses_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/statuses/{sha}","languages_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/languages","stargazers_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/stargazers","contributors_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/contributors","subscribers_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/subscribers","subscription_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/subscription","commits_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/commits{/sha}","git_commits_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/git/commits{/sha}","comments_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/comments{/number}","issue_comment_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/issues/comments{/number}","contents_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/contents/{+path}","compare_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/compare/{base}...{head}","merges_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/merges","archive_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/downloads","issues_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/issues{/number}","pulls_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/pulls{/number}","milestones_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/milestones{/number}","notifications_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/labels{/name}","releases_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/releases{/id}","deployments_url":"https://api.github.com/repos/tony-gomes/monster_shop_2001/deployments","created_at":"2020-04-06T18:52:33Z","updated_at":"2020-04-16T21:11:11Z","pushed_at":"2020-04-16T21:11:09Z","git_url":"git://github.com/tony-gomes/monster_shop_2001.git","ssh_url":"git@github.com:tony-gomes/monster_shop_2001.git","clone_url":"https://github.com/tony-gomes/monster_shop_2001.git","svn_url":"https://github.com/tony-gomes/monster_shop_2001","homepage":"https://meta-monster-shop.herokuapp.com/","size":347,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":3,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":3,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":249069419,"node_id":"MDEwOlJlcG9zaXRvcnkyNDkwNjk0MTk=","name":"activerecord-obstacle-course","full_name":"tylerpporter/activerecord-obstacle-course","private":false,"owner":{"login":"tylerpporter","id":58486125,"node_id":"MDQ6VXNlcjU4NDg2MTI1","avatar_url":"https://avatars3.githubusercontent.com/u/58486125?v=4","gravatar_id":"","url":"https://api.github.com/users/tylerpporter","html_url":"https://github.com/tylerpporter","followers_url":"https://api.github.com/users/tylerpporter/fol[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1589397057'
      Etag:
      - W/[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4962'
      X-Ratelimit-Reset:
      - '1589397058'
      Etag:
      - W/[...]
